fastapi==0.139.0
uvicorn==0.51.0
requests==2.34.2
pandas==3.0.3
openpyxl==3.1.5
python-dotenv==1.2.2
pywin32==312
geopy==2.4.1
python-docx==1.2.0
pillow==12.3.0
PySide6==6.11.1
keyring==25.7.0
lxml==6.1.1
